@{
    ViewData["Title"] = "Deportes";
}
@foreach(Deporte deporte in ViewBag.ListaDeportes){
    <div class="dep">
        <h2>@deporte.Nombre</h2>
        <a href='@Url.Action("VerDetalleDeporte", "Home", new{idDeporte=deporte.IdDeporte})'><img src="@deporte.Foto"></a>
    </div>
}