@{
    ViewData["Title"] = "Index";
}

<div class="header-index">
    <div class="header-overlay"></div>
    <h1>Juegos Olímpicos París 2024</h1>
</div>
<img src="/img/foto_prin.webp">
<h3>Estamos emocionados de tenerte aquí y de ofrecerte una experiencia única para seguir de cerca uno de los eventos deportivos más emocionantes del mundo. En nuestra página, encontrarás toda la información que necesitas para disfrutar al máximo de los Juegos Olímpicos de este año.</h3> 
<h3>¿Qué puedes hacer en nuestra página? Conoce a los Jugadores: Explora perfiles detallados de tus atletas favoritos. Descubre sus estadísticas, logros previos y más para seguir sus caminos hacia el oro. Descubre los Deportes: Navega por los diferentes deportes que se presentan en los Juegos Olímpicos. Desde el atletismo hasta la natación, pasando por deportes menos conocidos, te ofrecemos una visión completa de cada disciplina. Sigue a los Países: Infórmate sobre los países que están compitiendo en los Juegos.<h3> 
<h3>Conoce sus equipos, sus esperanzas y sus historias en el camino hacia la gloria olímpica. ¡No te pierdas ni un solo momento de la acción! Mantente actualizado con las últimas noticias, resultados y eventos en tiempo real. Estamos aquí para hacer que tu experiencia olímpica sea inolvidable.</h3>